* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
	display: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	position: relative;
	background-color: rgb(7, 13, 27);
	flex-grow: 1;
	min-height: 1000px;
}