.profilePage {
	height: 100vh;
	width: 100vw;
	background-color: rgb(7, 13, 27);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: white;
}