.authPage {
	height: 100vh;
	width: 100vw;
	background-image: url(../../../../public/intra_back.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	display: flex;
	flex-direction: column;
}